<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8ossS0wowE-OwqrXTNW_l3YrCW3p6pfo</string>
	<key>GCM_SENDER_ID</key>
	<string>762942114784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SiparisNoktasi</string>
	<key>PROJECT_ID</key>
	<string>siparisnoktasi-3e7be</string>
	<key>STORAGE_BUCKET</key>
	<string>siparisnoktasi-3e7be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762942114784:ios:3abd89823689ce1ac3f985</string>
</dict>
</plist>